<div class="ar" id="ar" style="margin:0px; overflow:hidden;">
</div>
<footer>
	<%= link_to image_tag('return.png'), stamps_url, class: "return" %>
</footer>
<%= image_tag "get.png", class: "comp_get" %>